.invest-container {
  background: linear-gradient(120deg, #00c6ff, #0072ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invest-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 380px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  animation: floatIn 0.8s ease-out;
}

.invest-card h2 {
  color: #0072ff;
  margin-bottom: 20px;
}

.invest-card label {
  display: block;
  text-align: left;
  margin-top: 15px;
  color: #444;
  font-weight: 600;
}

.invest-card select,
.invest-card input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 8px;
}

.invest-card button {
  margin-top: 20px;
  background: #0072ff;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.invest-card button:hover {
  background: #00c6ff;
}

@keyframes floatIn {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}
